<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" (click)="changeOnglet('list')">Liste des produits</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" (click)="changeOnglet('panier')">Mon panier <a><span class="badge">{{_panier.length}} article(s)</span></a></button>
  </div>
</div>

<app-listproduct *ngIf="_onglet=='list'" [products]="_products" (chooseProduct)="addPanier($event)"></app-listproduct>
<app-panier *ngIf="_onglet=='panier'" [children]="_children" [panier]="_panier"></app-panier>
